.hero__image--large {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.hero__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.29;
  text-align: center;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.hero__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.hero__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 8px;
  padding-right: 8px;
  gap: 14px;
  max-height: 355px;
}
