.products-link {
  display: block;
  color: #ffffff;
  background-color: #1d2183;
  border-radius: 18px;
  padding: 8px 15px;
  font-size: 26px;
  line-height: 1.47;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 12px auto;
  width: 200px;

  @media screen and (min-width: 768px) {
    margin-left: 98px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
