.section {
  padding-top: 22px;
  padding-bottom: 12px;
  background: linear-gradient(180deg, rgba(155, 123, 218, 0.17) 0%, #fffceb 100%);

  // @media screen and (min-width: 1200px) {
  //   padding-top: 94px;
  //   padding-bottom: 94px;
  // }
}
